<!DOCTYPE html>
<html lang="en">

	<!-- Head section of the main home page -->
	<head>
		<meta charset="UTF-8">
		<title>Homework 1 - Home</title>
		<meta http-equiv="refresh" content="300">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/header.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/main.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/footer.css">
		<script src="/../static/main/js/main.js" defer></script>
	</head>
	

	<!-- Body section of the main home page -->
	<body class="body">
	
		<!-- Header/banner of the home page -->
		<header>
			<div class="header-box"></div>
		</header>
		
		<!-- Navigation bar of the home page -->
		<nav class="nav-bar">
			<div class="nav-grid">
				<div class="nav-box1">CSE 477 - Homework 1</div>
				<div class="nav-box2">
					<a class="nav-link" href="https://homework-k2mnsdlocq-uc.a.run.app/home.html" title="Home Page">
						Home
					</a></div>
				<div class="nav-box3">
					<a class="nav-link" href="https://homework-k2mnsdlocq-uc.a.run.app/projects.html" title="Projects Page">
						Projects
					</a></div>
				<div class="nav-box3">
					<a class="nav-link" href="/../resume.pdf" download title="Resume Link">
						Resume
					</a></div>
				<div class="nav-box4">
					<a class="nav-link" href="https://www.linkedin.com/in/yousif-murrani/" target="_blank" title="LinkedIn Page">
						<img class="linkedin" src="/../static/main/images/social-linkedin.png" alt="LinkedIn Logo">
					</a>
				</div>
				<div class="nav-box5">
					<img class="menu" src="/../static/main/images/menu-bar.png" alt="Menu">
					<div class="dropdown">
						<ul>
							<li>Home</li>
							<li>Projects</li>
							<li>Resume</li>
							<li>LiinkedIn</li>
						</ul>
					</div>
				
				</div>
			</div>
		</nav>
		
		<!-- Main body section of the home page -->
		<main class="body">
			<br>
			<h1 id="bigtitle">Home</h1>

			<div class="main-grid">
				<div class="main-box1">
					<img class="box1-image" src="/../static/main/images/portfolio-picture2.jpeg" alt="Portfolio Picture">
				</div>
				<div class="main-box2">
					<p id="big-just-text">Yousif Murrani</p>
					<p id="just-text">  is a student at Michigan State University. 
						He is 21 years old.
						He is working towards completing a Bachelor's Degree in Computer Science and is currently in his Senior Year. 
						His favorite coding language is C++. 
						His favorite classes so far are CSE 335 (Object-Oriented Programming) and CSE 476 (Mobile Application Development), though CSE 477 is quickly becoming a favorite too! 
						Some of his hobbies are designing and building apps, playing football, listening to music, play video games, working on his Arduino kit and working out. 
						<br>
						So far, he is extremely enjoying designing and building Homework 1. 
						He has never built a website before, so this is extremely fun!
						He also loves learning new coding languages and is very excited to try working on the backend of Website Development.
					</p>
				</div>
			</div>
			
			<hr id="linebreaker">
			<br>
			<br>
			<p id="text"> Fun Fact: I am an Undergraduate Learning Assistant for CSE 335 and I was born in Iraq!</p>
			<br>
			<br>
		</main>
		
		<!-- Footer section of the main home page -->
		<footer class="footer-box">
			<p class="copyright">©Yousif Murrani</p>
		</footer>
		
	</body>
</html>