<!DOCTYPE html>
<html lang="en">

	<!-- Head section of the piano page -->
	<head>
		<meta charset="UTF-8">
		<title>Homework 1 - Piano</title>
		<meta http-equiv="refresh" content="300">
		<link rel="stylesheet" type="text/css" href="/../static/piano/css/piano.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/header.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/main.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/footer.css">
		<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
		<script src="/../static/piano/js/piano.js" defer></script>
	</head>
	
	<!-- Body section of the piano page -->
	<body class="body">
	
		<!-- Header/banner of the piano page -->
		<header>
			<div class="header-box"></div>
		</header>
		
		<!-- Navigation bar of the piano page -->
		<nav class="nav-bar">
			<div class="nav-grid">
				<div class="nav-box1">CSE 477 - Homework 1</div>
				<div class="nav-box2">
					<a class="nav-link" href="https://homework-k2mnsdlocq-uc.a.run.app/home.html" title="Home Page">
						Home
					</a></div>
				<div class="nav-box3">
					<a class="nav-link" href="https://homework-k2mnsdlocq-uc.a.run.app/projects.html" title="Projects Page">
						Projects
					</a></div>
				<div class="nav-box3">
					<a class="nav-link" href="" title="Resume Link">
						Resume
					</a></div>
				<div class="nav-box4">
					<a class="nav-link" href="/../resume.pdf" download title="LinkedIn Page">
						<img class="linkedin" src="/../static/main/images/social-linkedin.png" alt="LinkedIn Logo">
					</a>
				</div>
				<div class="nav-box5">
					<a class="nav-link" href="" title="Menu">
						<img class="menu" src="/../static/main/images/menu-bar.png" alt="Menu">
					</a>
				</div>
			</div>
		</nav>
		
		<!-- Main body section of the piano page -->
		<main class="body">
			<br>
			<h1 id="bigtitle">Piano</h1>
			<br>
			<p id="text-i">Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you.</p>
			<hr id="linebreaker">

			<!-- Piano grid of the piano page -->
			<div class="piano-back">
				<div class="piano-title">The Great Old One</div>

				<!-- White Piano Keys Grid Divs -->
				<div id="piano-white1" class="pianoKey">
					<p class="piano-text-black">A</p>
				</div>
				<div id="piano-white2" class="pianoKey">
					<p class="piano-text-black">S</p>
				</div>
				<div id="piano-white3" class="pianoKey">
					<p class="piano-text-black">D</p>
				</div>
				<div id="piano-white4" class="pianoKey">
					<p class="piano-text-black">F</p>
				</div>
				<div id="piano-white5" class="pianoKey">
					<p class="piano-text-black">G</p>
				</div>
				<div id="piano-white6" class="pianoKey">
					<p class="piano-text-black">H</p>
				</div>
				<div id="piano-white7" class="pianoKey">
					<p class="piano-text-black">J</p>
				</div>
				<div id="piano-white8" class="pianoKey">
					<p class="piano-text-black">K</p>
				</div>
				<div id="piano-white9" class="pianoKey">
					<p class="piano-text-black">L</p>
				</div>
				<div id="piano-white10" class="pianoKey">
					<p class="piano-text-black">;</p>
				</div>
				
				<!-- Black Piano Keys Grid Divs -->
				<div id="piano-black1" class="pianoKey">
					<p class="piano-text-white">W</p>
				</div>
				<div id="piano-black2" class="pianoKey">
					<p class="piano-text-white">E</p>
				</div>
				<div id="piano-black3" class="pianoKey">
					<p class="piano-text-white">T</p>
				</div>
				<div id="piano-black4" class="pianoKey">
					<p class="piano-text-white">Y</p>
				</div>
				<div id="piano-black5" class="pianoKey">
					<p class="piano-text-white">U</p>
				</div>
				<div id="piano-black6" class="pianoKey">
					<p class="piano-text-white">O</p>
				</div>
				<div id="piano-black7" class="pianoKey">
					<p class="piano-text-white">P</p>
				</div>
			</div>

			<!-- Great Old One grid of the piano page -->
			<div class="great-old-one">
				<div class="monster-box">
					<p class="monster-title">I have awoken.</p>
					<img class="monster-image" src="/../static/piano/images/texture.jpeg" alt="Monster Image">
				</div>
			</div>
		</main>
		
		<!-- Footer section of the piano page -->
		<footer class="footer-box">
			<p class="copyright">©Yousif Murrani</p>
		</footer>
	</body>
</html>