<!DOCTYPE html>
<html lang="en">

	<!-- Head section of the projects page -->
	<head>
		<meta charset="UTF-8">
		<title>Homework 1 - Projects</title>
		<meta http-equiv="refresh" content="300">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/header.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/main.css">
		<link rel="stylesheet" type="text/css" href="/../static/main/css/footer.css">
	</head>
	
	<!-- Body section of the projects page -->
	<body class="body">
	
		<!-- Header/banner of the projects page -->
		<header>
			<div class="header-box"></div>
		</header>
		
		<!-- Navigation bar of the projects page -->
		<nav class="nav-bar">
			<div class="nav-grid">
				<div class="nav-box1">CSE 477 - Homework 1</div>
				<div class="nav-box2">
					<a class="nav-link" href="https://homework-k2mnsdlocq-uc.a.run.app/home.html" title="Home Page">
						Home
					</a></div>
				<div class="nav-box3">
					<a class="nav-link" href="https://homework-k2mnsdlocq-uc.a.run.app/projects.html" title="Projects Page">
						Projects
					</a></div>
				<div class="nav-box3">
					<a class="nav-link" href="/../resume.pdf" download title="Resume Link">
						Resume
					</a></div>
				<div class="nav-box4">
					<a class="nav-link" href="https://www.linkedin.com/in/yousif-murrani/" target="_blank" title="LinkedIn Page">
						<img class="linkedin" src="/../static/main/images/social-linkedin.png" alt="LinkedIn Logo">
					</a>
				</div>
				<div class="nav-box5">
					<a class="nav-link" href="" title="Menu">
						<img class="menu" src="/../static/main/images/menu-bar.png" alt="Menu">
					</a>
				</div>
			</div>
		</nav>
		
		<!-- Main body section of the projects page -->
		<main class="body">
			<br>
			<h1 id="bigtitle">Projects<p>
			<h2 id="text">This is the projects page. Click on any of the images or hyperlinks in the descriptions to learn more about the project.</h2>
			<br>
			<hr id="linebreaker">
			
			<div class="main-grid">
				<div class="main-box1">
					<a class="main-link" href="https://homework-k2mnsdlocq-uc.a.run.app/piano.html" title="Piano Page">
						<img class="box1-image" src="/../static/main/images/piano.jpeg" alt="Piano Picture">
					</a>
				</div>
				<div class="main-box2">
					<p id="big-just-text">Javascript Piano Project</p>
					<br>
					<p id="just-text">For Homework 1 of CSE 477, I had to develop an interactive piano 
						using Javascript, HTML and CSS. 
						I also had to develop a website to present the piano project, 
						including a home page, a projects page, a resume page and a link to my LinkedIn!</p>
					<br>
					<p id="just-text">
					<a class="main-link" href="https://homework-k2mnsdlocq-uc.a.run.app/piano.html" title="Piano Page">
						Click here or the image to try out the piano!
					</a></p>
				</div>
			</div>
			
			<hr id="linebreaker">
			<br>
			<p id="bigtext">More coming soon!</p>
			<br>
		</main>
		
		<!-- Footer section of the projects page -->
		<footer class="footer-box">
			<p class="copyright">©Yousif Murrani</p>
		</footer>
		
	</body>
</html>